@import "~nativescript-theme-core/core";

Page {
  background-color: #8FD2C6;
  font-family: SFUIText-Light;
  font-size: 18;
  margin: 0;
  padding: 0;
}
.fa {
  font-family: FontAwesome, fontawesome-webfont;
  vertical-align: middle;
  font-size: 18;
}
.container {
  background-color: #F3F3F3;
}
.actionbar {
  background-color: #B3C39C;
  color: #474747;
  font-weight: bold;
  font-size: 22;
  font-family: Lobster-Regular;
  padding: 3;
  vertical-align: middle;
  &__title {
    text-align: center;
  }
}
//---
.login {
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20;

  .border-bottom {
    border-bottom-width: 1;
    border-bottom-color: white;
    margin-bottom: 20;
    padding-bottom: 8;
  }

  .form-input {
    color: white;
    placeholder-color: white;
    font-size: 18;
  }

  .icon-margin {
    margin-right: 10;
  }

  .main-label {
    color: white;
    horizontal-align: center;
    font-family: "Lobster-Regular";
    font-size: 50;
    margin-bottom: 32;
    letter-spacing: 0.1;
  }

  .submit-button {
    background-color: #B3C39C;
    color: #fff;
    border-radius: 50%;
  }
  .sign-up-stack {
    background-color: #B3C39C;
    margin-top: 20;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
  }
}

.cafe-list-item {
  &__thumb {
    margin-right: 5;
  }
  &__name,
  &__laddress,
  &__address,
  &__details {
    margin: 0;
    padding: 0;
  }
  &__name {
    font-family: SFUIText-Bold;
    font-size: 20;
    color: #C8D9AF;
    margin-bottom: 10;
  }
  &__laddress {
    font-family: SFUIText-Light;
    font-size: 14;
    color: #717171;
  }
  &__address {
    font-family: SFUIText-Regular;
    font-size: 15;
    color: #717171;
  }
  &__details {
    horizontal-align: right;
    font-family: SFUIText-Light;
    font-size: 14;
    color: #BBB;
    margin-top: 10;
  }
}
