@import "~nativescript-theme-core/core";

Page {
  background-color: #8FD2C6;
  font-family: SFUIText-Light;
  font-size: 18;
  margin: 0;
  padding: 0;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  vertical-align: middle;
}

.container {
  background-color: #F3F3F3;
}
// *** === Action Bar === ***
.actionbar {
  background-color: #B3C39C;
  color: #474747;
  font-weight: bold;
  font-size: 22;
  font-family: Lobster-Regular;
  padding: 5;

  &__left,
  &__right {
    font-size: 20;
    padding: 0 5;
  }

  &__left_hidden {
    opacity: 0;
  }

  &__center {
    flex-grow: 1;
    text-align: center;
  }
}
// *** === Login Page === ***
.login {
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20;

  &__input-wrapper {
    border-bottom-width: 1;
    border-bottom-color: white;
    margin-bottom: 40;
    height: 40;
  }

  &__form-input {
    color: white;
    placeholder-color: white;
    padding: 0;
    margin: 0;
    border-width: 0;
  }

  &__icon {
    margin-right: 10;
    color: #fff;
    font-size: 20;
  }

  &__main-label {
    color: white;
    horizontal-align: center;
    font-family: Lobster-Regular;
    font-size: 50;
    margin-bottom: 32;
    letter-spacing: 0.1;
  }

  &__submit,
  &__sign-up-stack {
    background-color: #B3C39C;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
  }

  &__sign-up-stack {
    margin-top: 20;
  }
}
// *** === Home Page === ***
.cafe-list-item {
  &__thumb {
    margin-right: 5;
  }

  &__name,
  &__laddress,
  &__address,
  &__details {
    margin: 0;
    padding: 0;
  }

  &__name {
    font-family: SFUIText-Bold;
    font-size: 20;
    font-weight: bold;
    color: #C8D9AF;
    margin-bottom: 10;
  }

  &__laddress {
    font-family: SFUIText-Light;
    font-size: 14;
    color: #717171;
  }

  &__address {
    font-family: SFUIText-Regular;
    font-size: 15;
    color: #717171;
  }

  &__details {
    horizontal-align: right;
    font-family: SFUIText-Light;
    font-size: 14;
    color: #BBB;
    margin-top: 10;
  }
}
// *** === Cafe Page === ***
.products-wrapper {
  margin: 3;
}
.product-info {
  margin: 3;
  padding: 5 10;
  background-color: #fff;

  &__name {
    font-family: SFUIText-Bold;
    font-weight: bold;
    font-size: 16;
    color: #717171;
  }

  &__subname {
    font-family: SFUIText-Regular;
    font-size: 12;
    color: #717171;
    padding: 0;
  }

  &__thumb {
    margin: 10;
  }

  &__price,
  &__price-sign {
    color: #C8D9AF;
    font-size: 24;
  }

  &__price {
    font-family: Lobster-Regular;
    margin-left: 8;
  }

  &__favorite {
    horizontal-align: right;
    margin-right: 8;
    color: #ccc;
    &_active {
      color: #ff4b55;
    }
  }
}

.cafe-card {

  &__info {
    vertical-alignment: bottom;
    margin: 5 16;
  }

  &__name {
    font-family: Lobster-Regular;
    font-size: 28;
    color: #474747;
    line-height: 30;
  }

  &__address {
    font-family: SFUIText-Regular;
    font-size: 17;
    color: #717171;
  }

  &__favorite-filter {
    color: #ccc;
    &_active {
      color: #ff4b55;
    }
  }

  &__gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1));
  }
}
// *** === Cafe Product Page === ***
.product-card {
  padding: 10;

  &__image {
    margin-bottom: 10;
  }

  &__name {
    font-family: Lobster-Regular;
    font-size: 24;
    color: #474747;
  }

  &__favorite {
    margin-left: 10;
    color: #ccc;
    font-size: 24;
    &_active {
      color: #ff4b55;
    }
  }

  &__ingredients-wrapper {
    margin-top: 10;
  }

  &__ingredient {
    margin-right: 10;
  }

  &__ingredient-icon {
    width: 35;
    height: 35;
  }

  &__ingredient-text {
    font-family: SFUIText-Light;
    font-size: 8;
    color: #474747;
    horizontal-align: center;
  }

  &__description {
    font-family: SFUIText-Light;
    font-size: 16;
    color: #474747;
    min-height: auto;
    margin: 0 0 10 0;
    border-bottom-width: 1;
    border-bottom-color: #EAEAEA;
    padding: 20 0;
  }

  &__price,
  &__price-sign {
    flex-grow: 1;
    color: #717171;
    font-size: 28;
  }

  &__price {
    font-family: SFUIText-Regular;
    text-align: right;
  }

  &__price-sign {
    margin: 2 0 0 10;
  }

  &__order-button {
    background-color: #C8D9AF;
    font-family: SFUIText-Regular;
    font-size: 20;
    color: #FFF;
    flex-grow: 2;
  }
}
